*{
    padding: 0;
    margin: 0;
}

main{
    background-color: white;
    width: full;
    min-height: 100vh;
}

.sidebar{
    width: 100%;
    max-width: 310px;
    background-color: white;
    
    padding: 20px 10px;
    min-height: 100vh;
    border-right: 1px solid #E0E0E0;
}