.task-card {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;     /* IE 10+ */
    user-select: none;         /* Standar */
    touch-action: none;        /* Mencegah scroll saat drag di HP */
}

/* Menghilangkan icon date picker di Chrome, Safari, dan Edge */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* Jika hanya ingin benar-benar hilang (hidden) */
.hide-calendar-icon::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.task-card {
    transition: all 0.3s ease;
}

.task-card.is-active {
    box-shadow: 0 0px 100px -2px rgba(163, 0, 0, 0.159);
    background-color: #1d1313aa;
    transform: scale(1.02);
}



