.task-card {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;     /* IE 10+ */
    user-select: none;         /* Standar */
    touch-action: none;        /* Mencegah scroll saat drag di HP */
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.hide-calendar-icon::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* Hilangkan icon bawaan time */
.hide-time-icon::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
    -webkit-appearance: none;
}

/* Hilangkan tombol clear */
.hide-time-icon::-webkit-clear-button {
    display: none;
}

/* Hilangkan spinner */
.hide-time-icon::-webkit-inner-spin-button {
    display: none;
}

/* Hilangkan appearance bawaan */
.hide-time-icon {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.task-card {
    transition: all 0.3s ease;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.hide-time-icon::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

:root {
    --active-bg: #ffffff;
    --active-shadow: 0 0px 40px -5px rgba(0, 0, 0, 0.1);
}

.dark {
    --active-bg: #202020;
    --active-shadow: 0 0px 100px -2px rgba(0, 0, 0, 0.334);
}

.task-card.is-active {
    background-color: var(--active-bg);
    box-shadow: var(--active-shadow);
    transform: scale(1.02);
}



