.task-card {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;     /* IE 10+ */
    user-select: none;         /* Standar */
    touch-action: none;        /* Mencegah scroll saat drag di HP */
}

/* Menghilangkan icon date picker di Chrome, Safari, dan Edge */
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* Jika hanya ingin benar-benar hilang (hidden) */
.hide-calendar-icon::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

